################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Quini6CLI/obj
/Quini6CLI/bin
/Quini6CLI/.vs/Quini6CLI/v16
/Quini6CLI/.vs/Quini6CLI/DesignTimeBuild
/Quini6CLI/.vs/Quini6CLI/config